.App{
  border: 1px solid black;
  width: 500px;
  margin: 10% auto auto auto;
}
#tag{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
#fields {
  display: flex;
  padding: 10px;
}
#fields input {
  width: 50%;
  height: 40px;
  font-size: 18px;
}